In [1]:
import numpy as np
import pandas as pd

In [2]:
with open("text.text", "r") as file:
    text = file.read().lower()

In [3]:
arr = np.array(list(char for char in text if char.isalpha()))
arr

array(['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd'], dtype='<U1')

In [4]:
df = pd.Series(arr).value_counts().sort_index().reset_index()

In [5]:
df.columns = ["Name", "Frequency"]
df

  Name  Frequency
0    d          1
1    e          1
2    h          1
3    l          3
4    o          2
5    r          1
6    w          1